body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, #020024 0%, rgba(9,9,121,1) 0%, rgba(3,139,207,1) 55%, rgba(5,100,181,1) 100%, rgba(0,212,255,1) 100%);
    
font-family: 'Press Start 2P', cursive;
}

.spinnigWood{
    position: absolute;
    top: 10%;
    left: 10%;
}